/* Timeline container */
.timeline-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh; /* Set the container height to 100% of the viewport height */
    padding-top: 200px;
}

.timeline-point {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.timeline-point > h1 {
    font-size: calc(30px + 2vmin);
    font-family: var(--font-family);
    color: var(--celadon);
    text-decoration: none;
    -webkit-text-stroke-width: 2px;
}
