@import './constants.css';

.App {
  min-height: 100vh;
  text-align: center;
  background-color: var(--eggplant);
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--apricot);

  -webkit-text-stroke-width: 2px;
}
